{% extends "base.html" %}

{% block content %}

<br>
<!-- Search Bar -->
  <nav>
    <div class="nav-wrapper">
      <form method="GET" action="{% url 'search_genres' %}">
        <div class="input-field">
          <input id="search" type="search" placeholder="Search Genre" required name="searchText">
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

<!-- Displaying Genre -->
      <div class="collection">
    		{% for genre in genres.object_list %}
    			<a href="#modal-{{genre.id}}" class="collection-item modal-trigger">{{genre.genere}}</a>
    		{% endfor %}
      </div>

  <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Add Genre</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add Genre</h4>
      <div class="row">
        <form class="col s12" method='POST' action="{% url 'genres' %}">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input id="genre" type="text" class="validate" name="genre">
              <label for="genre">Genre</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit">Save<i class="material-icons right">send</i>
        </form>
      </div>
    </div>

  </div>

<!-- Modal for Edit track -->

 <!-- Modal Structure -->
{% for genre in genres.object_list %}
  <div id="modal-{{genre.id}}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Edit Genre</h4>
      <div class="row">
        <form class="col s12" method='POST' action="{% url 'g_detail' genre.id %}">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input id="title" type="text" placeholder="{{genre.genere}}" class="validate" name="genre">
              <label for="genre">Genre</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit">Save<i class="material-icons right">send</i>
        </form>
      </div>
    </div>

  </div>
{% endfor %}


<!-- Pagination -->
<div class="row">
    <ul class="pagination">
    {% if genres.has_previous %}
      <li class="waves-effect"><a href="?page={{ genres.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for pg in genres.paginator.page_range %}
      {% if genres.number == pg %}
          <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
      {% else %}
          <li class="waves-effect"><a href="?page={{ pg }}">{{ pg }}</a></li>
      {% endif %}
    {% endfor %}

    {% if genres.has_next %}
      <li class="waves-effect"><a href="?page={{ genres.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
    </ul>
</div>
  


{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();

        $('select').material_select();

    });
         
  </script>
{% endblock js %}
	
{% endblock content %}