{% extends "base.html" %}
{% load music_filter %}
{% block content %}

<br>
  <nav>
    <div class="nav-wrapper">
      <form method="GET" action="{% url 'search_tracks' %}">
        <div class="input-field">
          <input id="search" type="search" required placeholder="Search Track" name="searchText">
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

	  <ul class="collection with-header">
	  {% for track in data.object_list %}
	  	<a href="#modal-{{track.id}}" class="collection-item modal-trigger">{{track.title}} [{{track.genere}}]
	  	{% if track.music_track.all|average != 0 %}
	 
	  	<i class="secondary-content">({{track.music_track.all.count}})</i>
	  	{% for i in track.music_track.all|average %}
	  		<i class="material-icons secondary-content">star</i>
	  	{% endfor %}
	  	
	  	
	  	{% endif %}
	  	</a>
      {% endfor %}
      </ul>

  <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Add New Track</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add Track</h4>
		  <div class="row">
		    <form class="col s12" method='POST' action="{% url 'home' %}">
		    {% csrf_token %}
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="title" type="text" class="validate" name="title">
		          <label for="title">Title</label>
		        </div>
				<div class="input-field col s12">
				    <select name="genere">
				      <option value="" disabled selected>Choose your option</option>
				      {% for genre in genres %}
				      	  <option value="{{genre.id}}">{{genre.genere}}</option>
				      {% endfor %}
				    </select>
				    <label>Genre</label>
				</div>

				<div class="input-field col s12">
				    <select id='ratings' name="rating" {% if not request.user.username %} disabled {%endif%}>
				      <option value="" disabled selected>Choose your option</option>
				      <option value="1">1</option>
				      <option value="2">2</option>
				      <option value="3">3</option>
				      <option value="4">4</option>
				      <option value="5">5</option>
				    </select>
				    <label>Rating</label>
				</div>

		      </div>
		      <button class="btn waves-effect waves-light" type="submit">Save<i class="material-icons right">send</i>
		    </form>
		  </div>
    </div>

  </div>

<!-- Modal for Edit track -->

 <!-- Modal Structure -->
{% for track in data.object_list %}
  <div id="modal-{{track.id}}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Edit Track</h4>
		  <div class="row">
		    <form class="col s12" method='POST' action="{% url 't_detail' track.id %}">
		    {% csrf_token %}
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="title" type="text" placeholder="{{track.title}}" class="validate" name="title">
		          <label for="title">Title</label>
		        </div>
				<div class="input-field col s12">
				    <select name="genere">
				      {% for genre in genres %}
				      	  <option {% if genre.id == track.genere.id %} selected {%endif%} value="{{genre.id}}">{{genre.genere}}</option>
				      {% endfor %}
				    </select>
				    <label>Genre</label>
				</div>

				<div class="input-field col s12">
				    <select name="rating" {% if not request.user.username %} disabled {%endif%}>
				      {% if track.music_track.all|user_rating:request == None %}
				      		<option value="" disabled selected>Choose your option</option>
				      {% endif %}
				      {% for i in loop %}
				      	 <option {% if track.music_track.all|user_rating:request != i %} {%else%} selected {%endif%} value="{{i}}">{{i}}</option>
				      {% endfor %}
				    </select>
				    <label>Rating</label>
				</div>

		      </div>
		      <button class="btn waves-effect waves-light" type="submit">Save<i class="material-icons right">send</i>
		    </form>
		  </div>
    </div>

  </div>
{% endfor %}



<div class="row">
    <ul class="pagination">
		{% if data.has_previous %}
		  <li class="waves-effect"><a href="?page={{ data.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
		{% else %}
		  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		{% endif %}

		{% for pg in data.paginator.page_range %}
		  {% if data.number == pg %}
		      <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
		  {% else %}
		      <li class="waves-effect"><a href="?page={{ pg }}">{{ pg }}</a></li>
		  {% endif %}
		{% endfor %}

		{% if data.has_next %}
		  <li class="waves-effect"><a href="?page={{ data.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
		{% else %}
		  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		{% endif %}
    </ul>
</div>
	


{% block js %}
	<script type="text/javascript">
		$(document).ready(function(){
    		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    		$('.modal-trigger').leanModal();

    		$('select').material_select();

		});
         
	</script>
{% endblock js %}

{% endblock content %}